.lbl{
	margin-top: -20px;
	position: absolute;
	color: green;
	font-style: italic;
}
.lbl-dd{
	color: green;
	font-style: italic;
}
.cnt-details input[type="text"]{
	padding: 5px;
	width: 40px;
}
.cnt-details input#total2{
	padding: 10px;
	width: 100px;
	font-size: 28px;
	background: #fff;
	font-weight: bold;
}

.cnt-form{
	position: relative;
	margin-top: -80px;
	margin-left: 240px;
}
.cnt-details{
	margin-top: -400px;
	margin-left: 510px;
	position:absolute;
}
.order-cnt  input[type="submit"]{
	margin-top: -50px;
	margin-right: 50px;
	float: right;
	position:relative;
}
.btn{
	-webkit-transition: all 0.3s ease-in-out;
}
.btn:hover{
	-webkit-transition: all 0.3s ease-in-out;
	background: #54BB67 !important;
	color: #f9f9f9;
}