@font-face {
   font-family: opli;
   src: url(../font/Opificio.ttf);
}
#mhead{
	background-color: #f5f5f5;
	border: 1px solid #e3e3e3;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	text-align: center; 
	font-family: opli;
} 
 #pagination table{
	width:99%;
	margin:0px auto;
	font-family: opli;
	font-weight: 598;
	font-size:16px;
	padding:4px;
	border-collapse: collapse;
  }
.head{
	background:lightseagreen;
}
#pagination table tr td{
	padding: 8px;
	text-transform:normal;
	border:1px solid #d1d1d1;
}
#pagination tr:hover{
	background: #c9c9c9;
}
.pagination{
	width:600px;
	margin:0px auto;
}
.pagination .current{
	padding: 4px 10px;
	color: black;
	margin: 1px 0px 9px 6px;
	display: block;
	text-decoration:none;
	float: left;
	text-transform: normal;
	background: whitesmoke;
	font-size: 16px;
}
.pagination .page-numbers{
	padding: 4px 10px;
	color: white !important;
	margin: 1px 0px 9px 6px;
	display: block;
	text-decoration:none;
	float: left;
	text-transform: normal;
	background: #00b4cc;
	font-size:16px;
}
