.content-page{
	padding-top: 80px;
}
.textarea {
  height: 200px;
  max-height: 200px;
  max-width: 100%;
}

@font-face {
   font-family: pizza;
   src: url(../font/Constance.ttf);
}
body{
	margin:0;
	background: #cedaca;
	font-family: pizza;
}
#cssmenu {
  padding: 0;
  margin: 0;
  border: 0;
  width: auto;
}
#cssmenu ul,
#cssmenu li {
  list-style: none;
  margin: 0;
  padding: 0;
}
#cssmenu ul {
  position: relative;
  z-index: 597;
}
#cssmenu ul li {
  float: left;
  min-height: 1px;
  vertical-align: middle;
}
#cssmenu ul li.hover,
#cssmenu ul li:hover {
  position: relative;
  z-index: 599;
  cursor: default;
}
#cssmenu ul ul {
  visibility: hidden;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 598;
  width: 100%;
}
#cssmenu ul ul li {
  float: none;
}
#cssmenu ul ul ul {
  top: 0;
  left: 190px;
  width: 190px;
}
#cssmenu ul li:hover > ul {
  visibility: visible;
}
#cssmenu ul ul {
  bottom: 0;
  left: 0;
}
#cssmenu ul ul {
  margin-top: 0;
}
#cssmenu ul ul li {
  font-weight: normal;
}
#cssmenu a {
  display: block;
  line-height: 1em;
  text-decoration: none;
}
/* Custom CSS Styles */
#cssmenu {
  background: #333333;
  font-family: pizza;
  font-size: 12px;
}
#cssmenu > ul {
  *display: inline-block;
}
#cssmenu:after,
#cssmenu ul:after {
  content: '';
  display: block;
  clear: both;
}
#cssmenu ul {
  text-transform: uppercase;
}
#cssmenu ul ul {
  text-transform: none;
  min-width: 190px;
}
#cssmenu ul ul a {
  color: #ffffff;
  border: 1px solid #514E4E;
  border-top: 0 none;  
  border-right: 0 none;
  line-height: 150%;
  padding: 16px 20px;
  font-size: 12px;
}
#cssmenu ul ul ul {
  border-top: 0 none;
}
#cssmenu ul ul li {
  position: relative;
}
#cssmenu ul ul li:hover > a {
  color: #44B500;
}
#cssmenu ul ul li:last-child > a {
  -moz-border-radius: 0 0 3px 3px;
  -webkit-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -moz-box-shadow: 0 1px 0 #1b9bff;
  -webkit-box-shadow: 0 1px 0 #1b9bff;
  box-shadow: 0 1px 0 #1b9bff;
}
#cssmenu ul ul li:last-child:hover > a {
  -moz-border-radius: 0 0 0 3px;
  -webkit-border-radius: 0 0 0 3px;
  border-radius: 0 0 0 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
#cssmenu ul ul li.has-sub > a:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 15px;
  margin-top: -8px;
}
#cssmenu ul li:hover > a,
#cssmenu ul li.active > a {
  border-bottom: 4px solid #44B500;
  color: #44B500;
}
#cssmenu ul li.has-sub > a:after {
  content: '+';
  margin-left: 5px;
}
#cssmenu ul li.last ul {
  left: auto;
  right: 0;
}
#cssmenu ul li.last ul ul {
  left: auto;
  right: 99.5%;
}
#cssmenu a {
  background: #333333;
  color: #CBCBCB;
  padding: 0 20px;
}
#cssmenu > ul > li > a {
  line-height: 60px;
  font-size: 16px;
}
#cssmenu ul li .user{
	font-size: 16px;
	color: #CBCBCB;
}
.bdy-cnt{
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	background: #adb7aa;
	height:620px;
	border-radius:10px;
}
.bdy-cnt, .time{
	padding: 10px;
	color: #323231;
	font-size: 20px;
}
.hori{
	background-color: #54655c;
	border:none;
	height:2px;
}
.cnt ul li a{
	text-decoration: none;
	color: #54655c;
}
.cnt ul li a:hover{
	text-decoration: none;
	color: #323231;
}
.cnt ul li{
	padding:10px;
	margin-left: -40px;
	display: block;
}
.cnt ul li:hover{
	cursor: pointer;
	background: #f9f9f9;
	opacity: 0.5;
}
.cnt nav{
	border-radius: 6px;
	background: #d5d5d5;
	width: 195px;
	padding:1px;
}
.body-content{
	width:75%;
	background: #d5d5d5;
	height: 530px;
	float: left;
	position: relative;
	margin-top: -128px;
	margin-left: 210px;
	border-radius: 6px;
}
.tbl-body-content{
	background: #d5d5d5;
	border-radius: 6px;
	height: 510px;
}
#text{
	margin-left: auto;
	margin-right: auto;
	width: 250px;
	padding: 5px;
	color: #54655c;
	font-size: 28px;
	text-align:center;
}
.pop-style{
	padding: 20px;
}
.pop-style form input{
	padding: 10px;
}
.pop-style h2{
	text-align: center;
}
.pop-style form select{
	padding: 10px;
}

.pop-style span{
	margin-top: -18px;
	position: absolute;
	color: green;
	font-style: italic;
}
.pop-style #sup-lbl{
	margin-top: -18px;
	position: absolute;
	color: green;
	font-style: italic;
}
.pop-style .prodform{
	margin-left: auto;
	margin-right: auto;
	width: 500px;
}
.myButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #caefab;
	-webkit-box-shadow:inset 0px 1px 0px 0px #caefab;
	box-shadow:inset 0px 1px 0px 0px #caefab;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #77d42a), color-stop(1, #5cb811));
	background:-moz-linear-gradient(top, #77d42a 5%, #5cb811 100%);
	background:-webkit-linear-gradient(top, #77d42a 5%, #5cb811 100%);
	background:-o-linear-gradient(top, #77d42a 5%, #5cb811 100%);
	background:-ms-linear-gradient(top, #77d42a 5%, #5cb811 100%);
	background:linear-gradient(to bottom, #77d42a 5%, #5cb811 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77d42a', endColorstr='#5cb811',GradientType=0);
	background-color:#77d42a;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #268a16;
	display:inline-block;
	cursor:pointer;
	color:#306108;
	font-family: pizza;
	font-size:15px;
	font-weight:bold;
	padding:10px 15px;
	text-decoration:none;
	text-shadow:0px 1px 0px #aade7c;
	float: right;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #5cb811), color-stop(1, #77d42a));
	background:-moz-linear-gradient(top, #5cb811 5%, #77d42a 100%);
	background:-webkit-linear-gradient(top, #5cb811 5%, #77d42a 100%);
	background:-o-linear-gradient(top, #5cb811 5%, #77d42a 100%);
	background:-ms-linear-gradient(top, #5cb811 5%, #77d42a 100%);
	background:linear-gradient(to bottom, #5cb811 5%, #77d42a 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5cb811', endColorstr='#77d42a',GradientType=0);
	background-color:#5cb811;
}
.myButton:active {
	position:relative;
	top:1px;
}
.cnt-edit{
	margin-left: auto;
	margin-right: auto;
	width: 505px;
}
.notif-style{
	float:right;
	font-weight:bold; 
	font-size:14px; 
	padding-left:5px; 
	padding-right:5px; 
	padding-top:2px; 
	padding-bottom:2px; 
	border-radius:6px; 
	background:#484646; 
	color:#c9c9c9;
}
.blnk{
	animation-name: blink;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
@-webkit-keyframes blink{
			0%{
				opacity:0;
			}100%{
				opacity:1;
			}
}
.login-details{
	color:#fff;
	font-family: pizza;
	position: absolute;
	margin-left: 25px;
	margin-top:75px;
	text-align: left;
	font-size: 20px;
}
.lbl-spn{
	position: absolute;
	margin-top:65px;
	margin-left: 0px;
	background:#000;
	width:220px;
	height:50px;
	opacity: 0.3;
}
.lbl-det{
	position:relative;
	max-width: 1120px;
}